.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    text-align: center;
}

.home-title {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.card-section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #fff;
    margin-bottom: 20px;
    width: 350px;
}

.card-section:hover {
    transform: translateY(-5px);
}

.card-section h3 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-section p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.timer-bar {
    height: 4px;
    width: 100%;
    background-color: #5F79FC;
    margin-top: 10px;
    border-radius: 2px;
    animation: timer 5s linear forwards;
}

@keyframes timer {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.image-section {
    margin-top: 20px;
}

.image-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-section img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .home-container {
        padding: 20px;
    }

    .home-title {
        font-size: 28px;
    }

    .home-content p {
        font-size: 16px;
    }

    .card-section h3 {
        font-size: 24px;
    }

    .card-section p {
        font-size: 16px;
    }
}