/* Navbar Container */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); *\ Ajout d'une ombre */
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar Logo */
.navbar-logo img {
    height: 140px;
    margin-left: 20px;
    margin-top: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start; /* Centrer à gauche */
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    position: relative;
}

.navbar li a:hover {
    color: #007BFF;
}

.navbar li a svg {
    margin-right: 8px;
}

.navbar li a.active {
    color: #007BFF;
}

.navbar li a.active:not([href="/settings"])::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.navbar li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

/* Navbar Profile */
.navbar-profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    padding: 5px; /* Ajout de padding pour l'espace */
}

.profile-menu {
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    left: -160px;
    top: 60px;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center;
}

.profile-menu.active {
    display: block;
    padding-top: 10px;
}

.navbar-logo img {
    height: 140px;
    margin-left: 20px;
    margin-top: 20px;
}

.profile-menu li {
    width: 100%;
}

.profile-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    text-align: left;
}

.profile-name {
    font-weight: bold;
    margin: 5px 0; /* Ajout de marge */
}

.profile-email {
    font-size: 14px;
    color: #666;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s;
}

.hamburger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        width: 100%;
        margin-top: 10px;
    }

    .navbar.open ul {
        display: flex;
    }

    .navbar li {
        margin: 10px 0;
        width: 100%;
    }

    .navbar li a {
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1001;
    }

    .hamburger-menu span {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: all 0.3s;
    }

    .hamburger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .navbar-logo img {
        height: 40px;
    }

    .navbar-profile {
        position: absolute;
        top: 20px;
        right: 60px;
    }

    .profile-menu {
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 10px);
    }
}
